<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.FrontDeskChargeDao">
  
   <select id="queryList" resultType="com.hht.wms.core.entity.FrontDeskCharge" parameterType="com.hht.wms.core.dto.FrontDeskChargeQueryReqDto" >
    select * from front_desk_charge 
  <where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
    order by id  LIMIT #{beginSize},#{size} 
  </select>
   
  <select id="selectCount" resultType="java.lang.Integer"  parameterType="com.hht.wms.core.dto.FrontDeskChargeQueryReqDto" >
    select count(1) from front_desk_charge 
  	<where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
  </select>  

  <select id="selectByInboundNo" resultType="com.hht.wms.core.entity.FrontDeskCharge"  parameterType="java.lang.String">
    select * from front_desk_charge 
  	<where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
   limit 1
  </select>   
   
</mapper>