<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.FrontDeskChargeDao">
  
   <select id="queryList" resultMap="BaseResultMap" parameterType="com.hht.wms.core.dto.FrontDeskChargeReqDto" >
    select <include refid="Base_Column_List" /> from front_desk_charge 
  <where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
    order by id  LIMIT #{beginSize},#{size} 
  </select>
   
  <select id="selectCount" resultType="java.lang.Integer"  parameterType="com.hht.wms.core.dto.FrontDeskChargeReqDto" >
    select count(1) from front_desk_charge 
  	<where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
  </select>  

  <select id="selectByInboundNo" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> from front_desk_charge 
  	<where>  
	<if test="inboundNo != null and inboundNo !=''">
		inbound_no=#{inboundNo,jdbcType=VARCHAR}
	</if>
   </where> 	
  </select>   
   
</mapper>