<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.ShippedInfoMapper">
  <resultMap id="BaseResultMap" type="com.hht.wms.core.entity.ShippedInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="so" jdbcType="VARCHAR" property="so" />
    <result column="po" jdbcType="VARCHAR" property="po" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="inbound_no" jdbcType="VARCHAR" property="inboundNo" />
    <result column="customs_meterial_no" jdbcType="VARCHAR" property="customsMeterialNo" />
    <result column="shipped_order_date" jdbcType="VARCHAR" property="shippedOrderDate" />
    <result column="shipped_date" jdbcType="VARCHAR" property="shippedDate" />
    <result column="shipped_no" jdbcType="VARCHAR" property="shippedNo" />
    <result column="warehouse_position" jdbcType="VARCHAR" property="warehousePosition" />
    <result column="shipped_ctns" jdbcType="DECIMAL" property="shippedCtns" />
    <result column="shipped_pcs" jdbcType="INTEGER" property="shippedPcs" />
    <result column="shipped_gw" jdbcType="DECIMAL" property="shippedGw" />
    <result column="shipped_volume" jdbcType="DECIMAL" property="shippedVolume" />
    <result column="customs_merch_no" jdbcType="VARCHAR" property="customsMerchNo" />
    <result column="merch_name" jdbcType="VARCHAR" property="merchName" />
    <result column="decla_count" jdbcType="INTEGER" property="declaCount" />
    <result column="decla_unit" jdbcType="VARCHAR" property="declaUnit" />
    <result column="decla_unit_price" jdbcType="DECIMAL" property="declaUnitPrice" />
    <result column="decla_total_price" jdbcType="DECIMAL" property="declaTotalPrice" />
    <result column="decla_currency" jdbcType="CHAR" property="declaCurrency" />
    <result column="origin_country" jdbcType="VARCHAR" property="originCountry" />
    <result column="dest_country" jdbcType="VARCHAR" property="destCountry" />
    <result column="piece_weigh" jdbcType="DECIMAL" property="pieceWeigh" />
    <result column="shipped_all_weigh" jdbcType="DECIMAL" property="shippedAllWeigh" />
    <result column="supervision_conditions" jdbcType="VARCHAR" property="supervisionConditions" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, so, po, sku, inbound_no, customs_meterial_no, shipped_order_date, shipped_date, 
    shipped_no, warehouse_position, shipped_ctns, shipped_pcs, shipped_gw, shipped_volume, 
    customs_merch_no, merch_name, decla_count, decla_unit, decla_unit_price, decla_total_price, 
    decla_currency, origin_country, dest_country, piece_weigh, shipped_all_weigh, supervision_conditions, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.hht.wms.core.entity.ShippedInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shipped_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipped_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shipped_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hht.wms.core.entity.ShippedInfo" useGeneratedKeys="true">
    insert into shipped_info (so, po, sku, 
      inbound_no, customs_meterial_no, shipped_order_date, 
      shipped_date, shipped_no, warehouse_position, 
      shipped_ctns, shipped_pcs, shipped_gw, 
      shipped_volume, customs_merch_no, merch_name, 
      decla_count, decla_unit, decla_unit_price, 
      decla_total_price, decla_currency, origin_country, 
      dest_country, piece_weigh, shipped_all_weigh, 
      supervision_conditions, create_time, update_time
      )
    values (#{so,jdbcType=VARCHAR}, #{po,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, 
      #{inboundNo,jdbcType=VARCHAR}, #{customsMeterialNo,jdbcType=VARCHAR}, #{shippedOrderDate,jdbcType=VARCHAR}, 
      #{shippedDate,jdbcType=VARCHAR}, #{shippedNo,jdbcType=VARCHAR}, #{warehousePosition,jdbcType=VARCHAR}, 
      #{shippedCtns,jdbcType=DECIMAL}, #{shippedPcs,jdbcType=INTEGER}, #{shippedGw,jdbcType=DECIMAL}, 
      #{shippedVolume,jdbcType=DECIMAL}, #{customsMerchNo,jdbcType=VARCHAR}, #{merchName,jdbcType=VARCHAR}, 
      #{declaCount,jdbcType=INTEGER}, #{declaUnit,jdbcType=VARCHAR}, #{declaUnitPrice,jdbcType=DECIMAL}, 
      #{declaTotalPrice,jdbcType=DECIMAL}, #{declaCurrency,jdbcType=CHAR}, #{originCountry,jdbcType=VARCHAR}, 
      #{destCountry,jdbcType=VARCHAR}, #{pieceWeigh,jdbcType=DECIMAL}, #{shippedAllWeigh,jdbcType=DECIMAL}, 
      #{supervisionConditions,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hht.wms.core.entity.ShippedInfo">
    update shipped_info
    <set>
      <if test="so != null">
        so = #{so,jdbcType=VARCHAR},
      </if>
      <if test="po != null">
        po = #{po,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="inboundNo != null">
        inbound_no = #{inboundNo,jdbcType=VARCHAR},
      </if>
      <if test="customsMeterialNo != null">
        customs_meterial_no = #{customsMeterialNo,jdbcType=VARCHAR},
      </if>
      <if test="shippedOrderDate != null">
        shipped_order_date = #{shippedOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="shippedDate != null">
        shipped_date = #{shippedDate,jdbcType=VARCHAR},
      </if>
      <if test="shippedNo != null">
        shipped_no = #{shippedNo,jdbcType=VARCHAR},
      </if>
      <if test="warehousePosition != null">
        warehouse_position = #{warehousePosition,jdbcType=VARCHAR},
      </if>
      <if test="shippedCtns != null">
        shipped_ctns = #{shippedCtns,jdbcType=DECIMAL},
      </if>
      <if test="shippedPcs != null">
        shipped_pcs = #{shippedPcs,jdbcType=INTEGER},
      </if>
      <if test="shippedGw != null">
        shipped_gw = #{shippedGw,jdbcType=DECIMAL},
      </if>
      <if test="shippedVolume != null">
        shipped_volume = #{shippedVolume,jdbcType=DECIMAL},
      </if>
      <if test="customsMerchNo != null">
        customs_merch_no = #{customsMerchNo,jdbcType=VARCHAR},
      </if>
      <if test="merchName != null">
        merch_name = #{merchName,jdbcType=VARCHAR},
      </if>
      <if test="declaCount != null">
        decla_count = #{declaCount,jdbcType=INTEGER},
      </if>
      <if test="declaUnit != null">
        decla_unit = #{declaUnit,jdbcType=VARCHAR},
      </if>
      <if test="declaUnitPrice != null">
        decla_unit_price = #{declaUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="declaTotalPrice != null">
        decla_total_price = #{declaTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="declaCurrency != null">
        decla_currency = #{declaCurrency,jdbcType=CHAR},
      </if>
      <if test="originCountry != null">
        origin_country = #{originCountry,jdbcType=VARCHAR},
      </if>
      <if test="destCountry != null">
        dest_country = #{destCountry,jdbcType=VARCHAR},
      </if>
      <if test="pieceWeigh != null">
        piece_weigh = #{pieceWeigh,jdbcType=DECIMAL},
      </if>
      <if test="shippedAllWeigh != null">
        shipped_all_weigh = #{shippedAllWeigh,jdbcType=DECIMAL},
      </if>
      <if test="supervisionConditions != null">
        supervision_conditions = #{supervisionConditions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hht.wms.core.entity.ShippedInfo">
    update shipped_info
    set so = #{so,jdbcType=VARCHAR},
      po = #{po,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      inbound_no = #{inboundNo,jdbcType=VARCHAR},
      customs_meterial_no = #{customsMeterialNo,jdbcType=VARCHAR},
      shipped_order_date = #{shippedOrderDate,jdbcType=VARCHAR},
      shipped_date = #{shippedDate,jdbcType=VARCHAR},
      shipped_no = #{shippedNo,jdbcType=VARCHAR},
      warehouse_position = #{warehousePosition,jdbcType=VARCHAR},
      shipped_ctns = #{shippedCtns,jdbcType=DECIMAL},
      shipped_pcs = #{shippedPcs,jdbcType=INTEGER},
      shipped_gw = #{shippedGw,jdbcType=DECIMAL},
      shipped_volume = #{shippedVolume,jdbcType=DECIMAL},
      customs_merch_no = #{customsMerchNo,jdbcType=VARCHAR},
      merch_name = #{merchName,jdbcType=VARCHAR},
      decla_count = #{declaCount,jdbcType=INTEGER},
      decla_unit = #{declaUnit,jdbcType=VARCHAR},
      decla_unit_price = #{declaUnitPrice,jdbcType=DECIMAL},
      decla_total_price = #{declaTotalPrice,jdbcType=DECIMAL},
      decla_currency = #{declaCurrency,jdbcType=CHAR},
      origin_country = #{originCountry,jdbcType=VARCHAR},
      dest_country = #{destCountry,jdbcType=VARCHAR},
      piece_weigh = #{pieceWeigh,jdbcType=DECIMAL},
      shipped_all_weigh = #{shippedAllWeigh,jdbcType=DECIMAL},
      supervision_conditions = #{supervisionConditions,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
	<!--   自定义 -->
  
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hht.wms.core.entity.ShippedInfo" useGeneratedKeys="true">
    insert into shipped_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        id,
      </if>    
      <if test="so != null and so !=''">
        so,
      </if>
      <if test="po != null and so !=''">
        po,
      </if>
      <if test="sku != null  and sku !=''">
        sku,
      </if>
      <if test="inboundNo != null and inboundNo !=''">
        inbound_no,
      </if>
      <if test="customsMeterialNo != null  and customsMeterialNo !=''">
        customs_meterial_no,
      </if>
      <if test="shippedOrderDate != null  and shippedOrderDate !=''">
        shipped_order_date,
      </if>
      <if test="shippedDate != null  and shippedDate !=''">
        shipped_date,
      </if>
      <if test="shippedNo != null  and shippedNo !=''">
        shipped_no,
      </if>
      <if test="warehousePosition != null  and warehousePosition !=''">
        warehouse_position,
      </if>
      <if test="shippedCtns != null and shippedCtns !=''">
        shipped_ctns,
      </if>
      <if test="shippedPcs != null and shippedPcs !=''">
        shipped_pcs,
      </if>
      <if test="shippedGw != null  and shippedGw !=''">
        shipped_gw,
      </if>
      <if test="shippedVolume != null and shippedVolume !=''">
        shipped_volume,
      </if>
      <if test="customsMerchNo != null  and customsMerchNo !=''">
        customs_merch_no,
      </if>
      <if test="merchName != null  and merchName !=''">
        merch_name,
      </if>
      <if test="declaCount != null  and declaCount !=''">
        decla_count,
      </if>
      <if test="declaUnit != null  and declaUnit !=''">
        decla_unit,
      </if>
      <if test="declaUnitPrice != null  and declaUnitPrice !=''">
        decla_unit_price,
      </if>
      <if test="declaTotalPrice != null  and declaTotalPrice !=''">
        decla_total_price,
      </if>
      <if test="declaCurrency != null  and declaCurrency !=''">
        decla_currency,
      </if>
      <if test="originCountry != null and originCountry !=''">
        origin_country,
      </if>
      <if test="destCountry != null  and destCountry !=''">
        dest_country,
      </if>
      <if test="pieceWeigh != null  and pieceWeigh !=''">
        piece_weigh,
      </if>
      <if test="shippedAllWeigh != null  and shippedAllWeigh !=''">
        shipped_all_weigh,
      </if>
      <if test="supervisionConditions != null and supervisionConditions !=''">
        supervision_conditions,
      </if>
      <if test="createTime != null  and createTime !=''">
        create_time,
      </if>
      <if test="updateTime != null and updateTime !=''">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null  and id !=''">
        #{so,jdbcType=VARCHAR},
      </if>
      <if test="so != null  and so !=''">
        #{so,jdbcType=VARCHAR},
      </if>
      <if test="po != null  and po !=''">
        #{po,jdbcType=VARCHAR},
      </if>
      <if test="sku != null  and sku !=''">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="inboundNo != null  and inboundNo !=''">
        #{inboundNo,jdbcType=VARCHAR},
      </if>
      <if test="customsMeterialNo != null  and customsMeterialNo !=''">
        #{customsMeterialNo,jdbcType=VARCHAR},
      </if>
      <if test="shippedOrderDate != null and shippedOrderDate !=''">
        #{shippedOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="shippedDate != null  and shippedDate !=''">
        #{shippedDate,jdbcType=VARCHAR},
      </if>
      <if test="shippedNo != null  and shippedNo !=''">
        #{shippedNo,jdbcType=VARCHAR},
      </if>
      <if test="warehousePosition != null  and warehousePosition !=''">
        #{warehousePosition,jdbcType=VARCHAR},
      </if>
      <if test="shippedCtns != null  and shippedCtns !=''">
        #{shippedCtns,jdbcType=DECIMAL},
      </if> 
      <if test="shippedPcs != null and shippedPcs !=''">
        #{shippedPcs,jdbcType=INTEGER},
      </if>
      <if test="shippedGw != null and shippedGw !=''">
        #{shippedGw,jdbcType=DECIMAL},
      </if>
      <if test="shippedVolume != null  and shippedVolume !=''">
        #{shippedVolume,jdbcType=DECIMAL},
      </if>
      <if test="customsMerchNo != null and customsMerchNo !=''">
        #{customsMerchNo,jdbcType=VARCHAR},
      </if>
      <if test="merchName != null and merchName !=''">
        #{merchName,jdbcType=VARCHAR},
      </if>
      <if test="declaCount != null and declaCount !=''">
        #{declaCount,jdbcType=INTEGER},
      </if>
      <if test="declaUnit != null and declaUnit !=''">
        #{declaUnit,jdbcType=VARCHAR},
      </if>
      <if test="declaUnitPrice != null and declaUnitPrice !=''">
        #{declaUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="declaTotalPrice != null and declaTotalPrice !=''">
        #{declaTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="declaCurrency != null and declaCurrency !=''">
        #{declaCurrency,jdbcType=CHAR},
      </if>
      <if test="originCountry != null and originCountry !=''">
        #{originCountry,jdbcType=VARCHAR},
      </if>
      <if test="destCountry != null  and destCountry !=''">
        #{destCountry,jdbcType=VARCHAR},
      </if>
      <if test="pieceWeigh != null  and pieceWeigh !=''">
        #{pieceWeigh,jdbcType=DECIMAL},
      </if>
      <if test="shippedAllWeigh != null  and shippedAllWeigh !=''">
        #{shippedAllWeigh,jdbcType=DECIMAL},
      </if>
      <if test="supervisionConditions != null and supervisionConditions !=''">
        #{supervisionConditions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime !=''">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null and updateTime !=''">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>