<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.ShippedInfoDao">
   <!--   自定义 -->
  <select id="queryList" resultType="com.hht.wms.core.entity.ShippedInfo" parameterType="com.hht.wms.core.dto.ShippedInfoReqDto" >
    select * from shipped_info 
  <where>  
	<if test="so != null and so !=''">
		so=#{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="sku != null and sku != ''">
		and sku = #{sku,jdbcType=VARCHAR}
	</if>
	<if test="shippedNo != null and shippedNo != ''">
		and shipped_no = #{shippedNo,jdbcType=VARCHAR}
	</if>	
	<if test="beginDate != null and beginDate != ''">
		and shipped_date &gt;= #{beginDate,jdbcType=VARCHAR}
	</if>		
	<if test="endDate != null and endDate != ''">
		and shipped_date &lt;= #{endDate,jdbcType=VARCHAR} 
	</if>		
   </where> 	
    order by id  LIMIT #{beginSize},#{size}    	
     
  </select>
   
  <select id="selectCount" resultType="java.lang.Integer"  parameterType="com.hht.wms.core.dto.ShippedInfoReqDto" >
    select count(1) from shipped_info 
  <where>  
	<if test="so != null and so !=''">
		so=#{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="sku != null and sku != ''">
		and sku = #{sku,jdbcType=VARCHAR}
	</if>
	<if test="shippedNo != null and shippedNo != ''">
		and shipped_no = #{shippedNo,jdbcType=VARCHAR}
	</if>	
	<if test="beginDate != null and beginDate != ''">
		and shipped_date &gt;= #{beginDate,jdbcType=VARCHAR}
	</if>		
	<if test="endDate != null and endDate != ''">
		and shipped_date &lt;= #{endDate,jdbcType=VARCHAR}
	</if>		
   </where> 	
  </select>  
  
</mapper>