<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.StockInfoDao">


  <select id="selectByInboundNoList" resultType="com.hht.wms.core.entity.StockInfo">
    select * from stock_info where inbound_no IN 
	<foreach collection="list" item="inboundNo" index="index" open="(" close=")" separator=",">
		#{inboundNo}
    </foreach>
  </select>

	<!--   自定义 -->
  <select id="queryList" resultType="com.hht.wms.core.entity.StockInfo" parameterType="com.hht.wms.core.dto.StockInfoQueryReqDto" >
    select * from stock_info 
  <where>  
	<if test="so != null and so !=''">
		so=#{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po=#{po,jdbcType=VARCHAR}
	</if>    
	<if test="sku != null and sku != ''">
		and sku=#{sku,jdbcType=VARCHAR}
	</if>    	
	<if test="inbundNo != null and inbundNo != ''">
		and inbound_no=#{inbundNo,jdbcType=VARCHAR}
	</if>   	
   </where> 	
   	order by id  LIMIT #{beginSize},#{size}    	
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hht.wms.core.dto.StockInfoQueryReqDto" >
  	select count(1) from stock_info 
  <where>    	
  	<if test="so != null and so !=''">
		so = #{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="sku != null and sku !=''">
		and sku = #{sku,jdbcType=VARCHAR}
	</if>    	
	<if test="inbundNo != null and inbundNo != ''">
		and inbound_no=#{inbundNo,jdbcType=VARCHAR}
	</if>   	
  </where>  
  </select>  
  
  <select id="queryByThreeElemet"  resultType="com.hht.wms.core.entity.StockInfo"   parameterType="com.hht.wms.core.dto.vo.ThreeElement">
  	select * from stock_info 
  <where>    	
  	<if test="so != null and so !=''">
		so = #{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="sku != null and sku !=''">
		and sku = #{sku,jdbcType=VARCHAR}
	</if>    	
  </where>  
  </select>    
</mapper>