<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hht.wms.core.dao.StockInfoDao">


  <select id="selectByInboundNoList" resultType="com.hht.wms.core.entity.StockInfo">
    select * from stock_info where inbound_no in 
	<foreach collection="list" item="inboundNo" index="index" open="(" close=")" separator=",">
		#{inboundNo}
    </foreach>
  </select>

	<!--   自定义 -->
  <select id="queryList" resultType="com.hht.wms.core.entity.StockInfo" parameterType="com.hht.wms.core.dto.StockInfoQueryReqDto" >
    select t1.* , t2.project_id from stock_info t1 , front_desk_charge t2 
  <where>  
	<if test="so != null and so !=''">
		so=#{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po=#{po,jdbcType=VARCHAR}
	</if>    
	<if test="item != null and item != ''">
		and item=#{item,jdbcType=VARCHAR}
	</if>    	
	<if test="beginDate != null and beginDate != ''">
		and rcvd_date &gt;= #{beginDate,jdbcType=VARCHAR}
	</if>		
	<if test="endDate != null and endDate != ''">
		and rcvd_date &lt;= #{endDate,jdbcType=VARCHAR} 
	</if>		
	<if test="inbundNo != null and inbundNo != ''">
		and inbound_no=#{inbundNo,jdbcType=VARCHAR}
	</if>   	
	<if test="volumeMoreThanZero != null and volumeMoreThanZero != '' and volumeMoreThanZero =='true'">
		and stock_volume &gt; 0
	</if>   	
	<if test="pcsMoreThanZero != null and pcsMoreThanZero != '' and pcsMoreThanZero == 'true'">
		and stock_pcs &gt; 0
	</if>   	
	    and t1.inbound_no = t2.inbound_no
   </where> 	
   		order by rcvd_date desc ,  id  LIMIT #{beginSize},#{size}    	
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.hht.wms.core.dto.StockInfoQueryReqDto" >
  	select count(1) from stock_info 
  <where>    	
  	<if test="so != null and so !=''">
		so = #{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="item != null and item !=''">
		and item = #{item,jdbcType=VARCHAR}
	</if>    	
	<if test="inbundNo != null and inbundNo != ''">
		and inbound_no=#{inbundNo,jdbcType=VARCHAR}
	</if>   	
	<if test="volumeMoreThanZero != null and volumeMoreThanZero != '' and volumeMoreThanZero =='true'">
		and stock_volume &gt; 0
	</if>   	
	<if test="pcsMoreThanZero != null and pcsMoreThanZero != '' and pcsMoreThanZero == 'true'">
		and stock_pcs &gt; 0
	</if>   			
  </where>  
  </select>  
  
  <select id="queryByThreeElemet"  resultType="com.hht.wms.core.entity.StockInfo"   parameterType="com.hht.wms.core.dto.vo.ThreeElement">
  	select * from stock_info 
  <where>    	
  	<if test="so != null and so !=''">
		so = #{so,jdbcType=VARCHAR}
	</if>
	<if test="po != null and po !=''">
		and po = #{po,jdbcType=VARCHAR}
	</if>    
	<if test="item != null and item !=''">
		and item = #{item,jdbcType=VARCHAR}
	</if>    	
  </where>  
  </select>    
  
  
  <select id="stockStatics"  resultType="com.hht.wms.core.dto.StockStatisticsRespDto"   parameterType="java.lang.String">
  	select sum(stock_volume) as realTimeVolume , sum(stock_pcs) as realTimePcs ,  count(distinct inbound_no) as tickets , sum(box_all_volume_actul) as veryDayVolume from stock_info 
    <where>    	
  	<if test="date != null and date !=''">
		 rcvd_date=#{date,jdbcType=VARCHAR}
	</if>
    </where>  
  </select> 
  
  
</mapper>